{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 aligh="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
     <li class="list-group-item">{{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span area-hidden="true">&times;</span>
        </button>

     </li>
    {% endfor %}
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>

{% endblock %}